*{
  margin: 0;
  padding: 0;
}

.app__header{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px gray solid;
  /* max-width: 900px;
  margin: auto; */
}
.app__headerLogo{
  font-size: 1.8rem;
}
.app__headerMenu{
  display: flex;
  justify-content: space-between;
}
.app__headerMenuAuth{
  display: flex;
  justify-content: space-between;

}
.authButton{
  margin: 10px 10px;
}

.app_signUp{
  display: flex;
  flex-direction: column;
}
