
.post{
  background-color: #fafafa;
  max-width: 530px;
  border: 1px solid grey;
  margin-bottom: 40px;
  align-self: center;
  margin: auto;
  margin-bottom: 20px;
}
.post__image{
  width: 100%;
  object-fit: contain;
  background-color: rgb(240,240,240);
}
.post__header{
  display: flex;
  align-items: center;
  padding: 20px 10px;
}
.post__headerAvatar{
  margin-right: 10px;
}
.post__footer{
  padding: 20px 10px;
  padding-bottom: 0;
}
.post__time{
  padding: 0 10px 20px;
  font-size: .8rem;
}
.post__commentbox{
  padding: 20px 10px;
}
.post__commentadder{
  display: flex;
  justify-content: space-between;
}
.post__commentadderinput{
  flex: 1;
}
.post__likesection{
  display: flex;
  align-items: center;
}
.dummy{
  color: rgba(0,0,0,0);
  background-image: linear-gradient(45deg,gray,lightgray,gray);
  border-width: 2px;
  border-style: solid;
  border-top: gray;
  border-right: lightgray;
  border-bottom: gray;
  border-left: lightgray;
}
.post__imageSection{
  position: relative;
}
.post__imageLikeAnimation{
  position: absolute;
  width: 100px;
  height: 100px;
  /* background-color: red; */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  fill: red;
}
.animate_like{
  animation: likeing 1s linear;
}
@keyframes likeing {
  0%{
    opacity: 0;

    transform:  translate(-50%,-50%) scale(.5);
  }80%{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1.5);
  }100%{
    opacity: 0;
    transform:  translate(-50%,-50%) scale(0);
  }
}

.dummyImage{
  width: 100%;
  height: 400px;
  /* background-color: red; */
}
